@import "tailwindcss";

@config "../tailwind.config.ts";

/* Setup for smooth scrolling and animations.
  The @theme block is how we configure custom values in v4 
*/
@theme {
  --animate-duration: 300ms;
}

html {
  scroll-behavior: smooth;
}

/* OPTIONAL: If you want to force the scrollbar to look good in dark mode 
*/
::selection {
  background-color: #22c55e; /* Green selection color */
  color: black;
}